.sidebar{
  height: 620px;
  width:200px;
  background-color: #3c05a3;

}

    .sidebar-header {
      padding: 10px 15px;
      background-color: #110c1b;
      color: #fff;

    }
   
   .sidebar ul.components {
    padding: 20px 0;
  }
  
  .sidebar ul li {
    padding: 10px 15px;
    border-bottom: 1px solid #ee1a1a;
  }
  
  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .sidebar ul li a:hover {
    color: #17a2b8;
    height:100px;
  }
    